<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Aglanoemas</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Aglanoemas</h1>

    <img [src]="aglaonemasPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_7" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_8" class="plant__species-resize" alt="picture">
    <img [src]="aglaonemasPhotoUrl_9" class="plant__species-resize" alt="picture">
  </div>
</div>
