<p>
  aglaonemas works!
</p>

<img [src]="aglaonemasPhotoUrl_1" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_2" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_3" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_4" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_5" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_6" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_7" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_8" class="plant__species-resize" alt="picture">
<img [src]="aglaonemasPhotoUrl_9" class="plant__species-resize" alt="picture">