<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Hibiscus</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Hibiscus</h1>

    <img [src]="hibiscusPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="hibiscusPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="hibiscusPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="hibiscusPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="hibiscusPhotoUrl_5" class="plant__species-resize" alt="picture">

  </div>
</div>