<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Aquatic Plants</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Aquatic Plants</h1>

    <div class="row">
      <div *ngFor="let aquatic of portraitPlantsPhotoResult; let i = index" class="col-4 plant__card-adjustment">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top img-responsive plant__species-resize" src="{{aquatic[2]}}">
            <div class="card-block">
              <h4 class="card-title">{{aquatic[3]}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div *ngFor="let aquatic of landscapePlantsPhotoResult; let i = index" class="col-4 plant__card-adjustment">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top img-responsive plant__species-resize" src="{{aquatic[2]}}">
            <div class="card-block">
              <h4 class="card-title">{{aquatic[3]}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>