<footer class="footer">
  <div class="container-fluid footer__styling">

    <div class="row">
      <div class="col-md-12 footer__title-row">

          <div class="col-md-3">
            <div class="footer__title text-center">
              About us
            </div>
            <div class="footer__content text-center">
              Established Singapore Company with over 50 years of experience.
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer__title text-center">
              Operations Capability
            </div>
            <div class="footer__content text-center">
              Bontanic Garden Development, Landscapping & Farm Stay Lingga Islands, Riaus, Indonesia.
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer__title text-center">
              Plants Collection
            </div>
            <div class="footer__content text-center">
              Explore Our Big Bontanic Garden of Plant Collection.
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer__title text-center">
              Contact Us
            </div>
            <div class="footer__content text-center">
              darren.dowflora@gmail.com
            </div>
          </div>


      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="footer__copyright text-center">
          © 2017. Dow Flora (Singapore) Pte Ltd.
        </div>
      </div>
    </div>

  </div>
</footer>
