.footer__adjustment {
  border-style: solid;
  border-top-color: #a39e9e;
  border-width: 1px;
}

.footer__styling {
  background-color: #e5e3e3;
}

.footer__title {
  font-weight: bold;
  padding: 2rem 0;
}

.footer__copyright {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.footer__title-row {
  padding-bottom: 2rem;
}
