<footer class="footer footer__styling">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3">
        <div class="footer-title text-center">
          About us
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-title text-center">
          Company Info
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-title text-center">
          Past Projects
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-title text-center">
          Contact Us
        </div>

        <div>
          Address: 172 Seletar West Farmway 6 Singapore
        </div>

        <div>
          Contact Us: 0085-67584333; 0065-81536683; 0065-90715787; 0062-81317000855
        </div>

        <div>
          Email: darren.dowflora@gmail.com. darren10102008@hotmail.com
        </div>

      </div>

    </div>

    <div class="row">
      © 2017. Dow Flora (Singapore) Pte Ltd.
    </div>

  </div>
</footer>
