<carousel>

  <slide>
    <img class="img-fluid carousel__img-fluid" src="../assets/1296x728_Air-Purifying_Plants-1-Spider_Plants.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Spider Plant</h3>
      <p>Help to Improve Indoor Air Quality.</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid carousel__img-fluid" src="../assets/1296x728_Air-Purifying_Plants-3-Golden_Pothos.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Golden Pothos</h3>
      <p>Great for Offices and Homes.</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid carousel__img-fluid" src="../assets/1296x728_Air-Purifying_Plants-4-Mums.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Yellow Flower</h3>
      <p>Ideal Flowers for the Kitchen.</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid carousel__img-fluid" src="../assets/1296x728_Air-Purifying_Plants-9-English_Ivies.jpg" alt="Fourth slide">
    <div class="carousel-caption">
      <h3>EnglishI Ivy</h3>
      <p>English Ivies is one of the top 10 Air-purifying Plants.</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid carousel__img-fluid" src="../assets/img-20140829-wa0037.jpg" alt="Fifth slide">
    <div class="carousel-caption">
      <h3>Gardens</h3>
      <p>Gardening is the practice of growing and cultivating plants as part of horticulture.</p>
    </div>
  </slide>


</carousel>
