<carousel>

  <slide>
    <div class="row">
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid" src="../assets/flowering-trees-1.jpg" alt="First slide">
      </div>
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid" src="../assets/flowering-trees-2.jpg" alt="First slide">
      </div>
    </div>
    <div class="carousel-caption">
      <h3>Flowering Trees</h3>
      <div class="row">
        <div class="col carousel-caption-left">
          Tre #005
        </div>
        <div class="col carousel-caption-right">
          Tre #006            
        </div>
      </div>
    </div>
  </slide>

  <slide>
    <div class="row">
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid" src="../assets/flowering-shrubs-1.jpg" alt="Second slide">
      </div>
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid" src="../assets/flowering-shrubs-2.jpg" alt="Second slide">
      </div>
    </div>
    <div class="carousel-caption">
      <h3>Flowering Shrubs</h3>
      <div class="row">
        <div class="col carousel-caption-left">
          Shr #013
        </div>
        <div class="col carousel-caption-right">
          Shr #007            
        </div>
      </div>
    </div>
  </slide>

  <slide>
    <div class="row">
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid" src="../assets/minor-landscaping-1.jpg" alt="Third slide">
      </div>
      <div class="col carousel__img">
        <img class="img-fluid carousel__img-fluid carousel__img-fluid-landscape" src="../assets/minor-landscaping-2.jpg" alt="Third slide">
      </div>
    </div>

    <div class="carousel-caption">
      <h3>Minor Landscaping Job</h3>
    </div>
  </slide>



</carousel>
