<carousel>

  <slide>
    <img class="img-fluid test" src="{{plantsPhotoResult[0][3]}}" alt="First slide">
    <div class="carousel-caption">
      <h3>{{plantsPhotoResult[0][1]}}</h3>
      <p>{{plantsPhotoResult[0][2]}}</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid" src="{{plantsPhotoResult[1][3]}}" alt="Second slide">
    <div class="carousel-caption">
      <h3>{{plantsPhotoResult[1][1]}}</h3>
      <p>{{plantsPhotoResult[1][2]}}</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid" src="{{plantsPhotoResult[2][3]}}" alt="Second slide">
    <div class="carousel-caption">
      <h3>{{plantsPhotoResult[2][1]}}</h3>
      <p>{{plantsPhotoResult[2][2]}}</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid" src="{{plantsPhotoResult[3][3]}}" alt="Second slide">
    <div class="carousel-caption">
      <h3>{{plantsPhotoResult[3][1]}}</h3>
      <p>{{plantsPhotoResult[3][2]}}</p>
    </div>
  </slide>

  <slide>
    <img class="img-fluid" src="{{plantsPhotoResult[4][3]}}" alt="Second slide">
    <div class="carousel-caption">
      <h3>{{plantsPhotoResult[4][1]}}</h3>
      <p>{{plantsPhotoResult[4][2]}}</p>
    </div>
  </slide>


</carousel>
