<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Costus</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Costus</h1>

    <img [src]="costusPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="costusPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="costusPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="costusPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="costusPhotoUrl_5" class="plant__species-resize" alt="picture">
  </div>
</div>