<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Croton</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Croton</h1>

    <img [src]="crotonPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="crotonPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="crotonPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="crotonPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="crotonPhotoUrl_5" class="plant__species-resize" alt="picture">
  </div>
</div>
