// .operation-capability__font-adjustment {
//   // font-size: 1.8rem;
// }
.operation-capability__location {
  padding: 0;
  text-align: left;
}

.operation-capability__acres {
  text-align: left;
}
