<div class="container operation-capability__font-adjustment">

  <p>
    Our Offshore Operation Capability
  </p>

  <p>
    With our operation headquarter set up in Singapore and our supporting nurseries set up in Malaysia, and in Bintan, lingga
    islands, Indonesia, all nurseries lands are by the rivers. We are in position to deliver and install shore to shore by
    barges and tugs for very large plants to your projects.
  </p>

  <p>
    We have established nurseries in the following areas:
  </p>

  <p>
    Bintan Island, Indonesia ... ... ... ... 156 acres
    <br>
     Lingga Island, Indonesia ... ... ... ... 200 acres
         <br>
     Johor, Malaysia ... ... ... ... 20 acres
              <br>
     Zhangzhou China ... ... ... ... 16 acres
    <p>

      <p>
        We hope with the above combined capacities, we are able to deliver good jobs within the time frame stipulated.
      </p>

</div>
