<div class="container operation-capability__font-adjustment">

  <p>
    Our Offshore Operation Capability:
  </p>

  <p>
    With our operation centres are set up in Singapore and our reliable supporting nurseries set up in Malaysia, in Bintan and
    Lingga Islands of Riau, Indonesia. Further logistic supplies too are obtainable from China and from Southern California.
    Dow Flora are in good position to deliver shore to shore by barges and tugs for very large plants to your projects as
    few of our nurseries are located by or near the rivers.
  </p>

  <p>
    We have established nurseries in the following areas:
  </p>

   <div class="table-responsive-vertical shadow-z-1">
      <!-- Table starts here -->
      <table id="table" class="table">
        <tbody>
          <tr>
            <td data-title="Location">Bintan Island</td>
            <td data-title="Acres">156 acres</td>
          </tr>
          <tr>
            <td data-title="Location">Batam Island</td>
            <td data-title="Acres">2 acres</td>
          </tr>
          <tr>
            <td data-title="Location">Lingga Island</td>
            <td data-title="Acres">200 acres</td>
          </tr>
          <tr>
            <td data-title="Location">Johor Malaysia</td>
            <td data-title="Acres">20 acres</td>
          </tr>
          <tr>
            <td data-title="Location">Zhangzhou Xiamen China</td>
            <td data-title="Acres">16 acres</td>
          </tr>
          <tr>
            <td data-title="Location">Vista, Ocean Side, southern Cal</td>
            <td data-title="Acres">5 acres</td>
          </tr>
        </tbody>
      </table>
    </div>

  <p>
    We are confident and with the above combined resources and logistic advantages we are able to perform, deliver good jobs
    within the time frame stipulated.
  </p>

</div>
