<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Calatheas</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Calatheas</h1>

    <img [src]="calatheasPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_7" class="plant__species-resize" alt="picture">
    <img [src]="calatheasPhotoUrl_8" class="plant__species-resize" alt="picture">
  </div>
</div>
