<div class="container contact__container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 contact__wrapper">
      <div class="col contact__email-container">
        <div class="col contact__row contact__email-header">
          <h3>Send Us A Message</h3>
        </div>
        <form [formGroup]='contactForm' (ngSubmit)='submitEnquiry()'>
          <div class="col contact__row">
            <input type="text" name="name" placeholder="Name" class="col contact__input" [class.contact__error]="nameError.hasError('*', ['dirty'])" formControlName="name">
          </div>
          <div class="col contact__row">
            <div ngxErrors="name" #nameError="ngxErrors">
              <div class="contact__error--msg col" ngxError="required" when="dirty">
                Please fill in your name
              </div>
            </div>
          </div>
          <div class="col contact__row">
            <input type="text" name="email" placeholder="Email" class="col contact__input" [class.contact__error]="emailError.hasError('*', ['dirty'])" formControlName="email">
          </div>
          <div class="col contact__row">
            <div ngxErrors="email" #emailError="ngxErrors">
              <div class="contact__error--msg col" ngxError="required" when="dirty">
                Please fill in your email
              </div>
              <div class="contact__error--msg col" ngxError="pattern" when="dirty">
                Invalid email
              </div>
            </div>
          </div>
          <div class="col contact__row">
            <textarea name="message" placeholder="Enquiry" rows="5" class="col contact__textarea" [class.contact__error]="messageError.hasError('*', ['dirty'])" rows="6" formControlName="message"></textarea>
          </div>
          <div class="col contact__row">
            <div ngxErrors="message" #messageError="ngxErrors">
              <div class="contact__error--msg col" ngxError="required" when="dirty">
                Please fill in your enquiry
              </div>
            </div>
          </div>
          <div class="col contact__submit">
            <button *ngIf="showSubmitButton" type="submit" class="btn btn-outline-success col" [disabled]="!contactForm.valid">Submit Enquiry</button>
            <div *ngIf='processingEnquiryStatus' class="contact__loading col">
              {{processingEnquiryMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 contact__wrapper">
      <div class="col contact__info-container">
        <!-- <div class="col contact__row">
          <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="scrollwheel" [zoom]="zoomFactor">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div> -->
        <div class="col contact__row contact__info-header">
          <h3>Contact Information</h3>
        </div>
        <div class="col contact__row">
          <u>Showroom and Office</u><br>
          Furama City Centre<br>
          60 Eu Tong Sen Street, #02-02 & #02-05<br>
          Singapore 059804<br>
        </div>
        <div class="col contact__row">
          <u>Nursery Address</u><br>
          172 Seletar West Farmway 6<br>
          Singapore 798038<br>
        </div>
        <div class="col contact__row">
          <u>Contact</u><br>Zamia Ceratozamia
          +65 9071 5787<br>
          +65 9068 9198<br>
        </div>
        <div class="col contact__row">
          <u>Email</u><br>
          darren.dowflora@gmail.com<br>
          darrenltc@gmail.com<br>
          cherie.david888@gmail.com<br>
        </div>
        <div class="col contact__info-bottom"></div>
      </div>
    </div>
  </div>
</div>
