.contact__container {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.contact__wrapper {
  margin-top: 2rem;
}

.contact {
  &__email-container,
  &__info-container {
    border: 1px solid #ccc;
  }
  &__email-header,
  &__info-header {
    letter-spacing: 3px;
  }
  &__info-bottom {
    margin: 1rem 0;
  }
}

.contact__row {
  margin-top: 2rem;
}

.contact__input {
  height: 50px;
}

.contact__input,
.contact__textarea {
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
  &:focus, :active, :focus:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
  }
}
input::placeholder,
textarea::placeholder {
  letter-spacing: 3px;
}


.contact__error {
  border: 1px solid red;
  &:focus, :active, :focus:active {
    border: 1px solid red;
    outline: none;
    box-shadow: none;
  }
  &--msg {
    color: red;
  }
}

.contact__submit {
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  & button {
    // width: 150px;
    font-size: 1.5rem;
  }
}

.sebm-google-map-container {
  height: 300px;
}
