.contact__container {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.contact__row {
  margin-top: 2rem;
}

.contact__label {
  padding: 0;
  margin: 1rem 0;
}

.contact__input,
.contact__textarea {
  padding: .25rem .5rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  &:focus, :active, :focus:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #5cb85c;
  }
}

.contact__error {
  border: 1px solid red;
  &:focus, :active, :focus:active {
    border: 1px solid red;
    outline: none;
    box-shadow: none;
  }
  &--msg {
    color: red;
  }
}

.contact__submit {
  margin-top: 1rem;
  & button {
    width: 150px;
    font-size: 1.5rem;
  }
}

.contact__details--wrapper {
  margin: 1rem 0;
  & span {
    position: absolute;
    right: 0;
  }
}
