<div class="container contact__container">

  <div class="col-xs-12">
    <h1>Have an enquiry? Get in touch with us!</h1>
  </div>

  <div class="col-md-6 col-xs-12">
    <form [formGroup]='contactForm' (ngSubmit)='submitEnquiry()'>
      <div class="row contact__row">
        <div class="col-md-6 col-xs-12">
          <div class="col-xs-12 contact__label">
            Your Name
          </div>
          <input type="text" name="name" class="col-xs-12 contact__input" [class.contact__error]="nameError.hasError('*', ['dirty'])" formControlName="name">
          <div ngxErrors="name" #nameError="ngxErrors">
            <div class="contact__error--msg" ngxError="required" when="dirty">
              Please fill in your name
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="col-xs-12 contact__label">
            Your Email
          </div>
          <input type="text" name="email" class="col-xs-12 contact__input" [class.contact__error]="emailError.hasError('*', ['dirty'])" formControlName="email">
          <div ngxErrors="email" #emailError="ngxErrors">
            <div class="contact__error--msg" ngxError="required" when="dirty">
              Please fill in your email
            </div>
            <div class="contact__error--msg" ngxError="pattern" when="dirty">
              Invalid email
            </div>
          </div>
        </div>
      </div>
      <div class="row contact__row">
        <div class="col-xs-12">
          <div class="col-xs-12 contact__label">
            Your Enquiry
          </div>
          <textarea name="message" class="col-xs-12 contact__textarea" [class.contact__error]="messageError.hasError('*', ['dirty'])" rows="6" formControlName="message"></textarea>
          <div ngxErrors="message" #messageError="ngxErrors">
            <div class="contact__error--msg" ngxError="required" when="dirty">
              Please fill in your enquiry
            </div>
          </div>
        </div>
      </div>
      <div class="row contact__submit">
      <!-- <div class="row"> -->
        <div class="col-xs-12">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <button *ngIf="showSubmitButton" type="submit" class="btn btn-outline-success" [disabled]="!contactForm.valid">Submit</button>
            <div *ngIf='processingEnquiryStatus' class="contact__loading">
              {{processingEnquiryMessage}}
              <!-- <div class="contact__ring"></div> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="row contact__row">
      <div class="col-xs-12 contact__details--wrapper">
        <div class="col-xs-4">
          Address
          <span class="contact__details--colon">:</span>
        </div>
        <div class="col-xs-8">
          address here
        </div>
      </div>
      <div class="col-xs-12 contact__details--wrapper">
        <div class="col-xs-4">
          Contact
          <span class="contact__details--colon">:</span>
        </div>
        <div class="col-xs-8">
          phone number
        </div>
      </div>
      <div class="col-xs-12 contact__details--wrapper">
        <div class="col-xs-4">
          Email
          <span class="contact__details--colon">:</span>
        </div>
        <div class="col-xs-8">
          email here
        </div>
      </div>
    </div>
  </div>
</div>
