<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Crypthanthus</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Crypthanthus</h1>

    <img [src]="crypthanthusPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="crypthanthusPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="crypthanthusPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="crypthanthusPhotoUrl_4" class="plant__species-resize" alt="picture">

  </div>
</div>