<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Tropical Fruits</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Tropical Fruits</h1>

    <img [src]="tropical_fruitsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_7" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_8" class="plant__species-resize" alt="picture">
    <img [src]="tropical_fruitsPhotoUrl_9" class="plant__species-resize" alt="picture">

  </div>
</div>
