<div class="container about__container">
  <div class="row">

    <div class="col-12 col-lg-3 offset-lg-1 about__links-container">
      <div class="row justify-content-center">
        <div class="col-auto col-lg-12 about__links" routerLink="operations">
          Operation Capability
        </div>
        <div class="col-auto col-lg-12 about__links" routerLink="lingga-island">
          Lingga Island
        </div>
        <div class="col-auto col-lg-12 about__links" routerLink="projects">
          Projects
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7 about__links-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
