.about__container {
  @media (min-width: 768px) { margin-top: 3rem; }
}

.about__links-container,
.about__links-content {
  margin-bottom: 3rem;
}

.about__links {
  color: green;
  border-bottom: 3px solid transparent;
  padding: 5px;
  cursor: pointer;
  margin: 0 1rem;
  &:hover {
    border-bottom-color: #2BDE73;
  }

  @media ( min-width: 992px ) {
    border-left: 3px solid transparent;
    border-bottom: none;
    &:hover {
      border-left-color: #2BDE73;
    }
  }
}
