<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Climbers Vine</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Climbers Vine</h1>

    <img [src]="climbers_vinesPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="climbers_vinesPhotoUrl_7" class="plant__species-resize" alt="picture">

  </div>
</div>