<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Philodendrons</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Philodendrons</h1>

    <img [src]="philodendronsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="philodendronsPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="philodendronsPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="philodendronsPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="philodendronsPhotoUrl_5" class="plant__species-resize" alt="picture">

  </div>
</div>