<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Shrubs</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Shrubs</h1>

    <img [src]="shrubsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_7" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_8" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_9" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_10" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_11" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_12" class="plant__species-resize" alt="picture">
    <img [src]="shrubsPhotoUrl_13" class="plant__species-resize" alt="picture">
  </div>
</div>
