<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Saggo Palm</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Saggo Palm</h1>

    <!--<img [src]="agavePhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="agavePhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="agavePhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="agavePhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="agavePhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="agavePhotoUrl_6" class="plant__species-resize" alt="picture">-->
  </div>
</div>