<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Adenium</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Adenium</h1>

    <img [src]="adeniumPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_5" class="plant__species-resize" alt="picture">
  </div>
</div>
