<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Adenium</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Adenium</h1>

    <div class="row">
      <div class="card-deck">
        <div class="card plants__card col-12 col-md-4">
          <img class="card-img-top plants__card-img-top" [src]="adeniumPhotoUrl_1" alt="picture">
          <div class="card-block plants__card-title">
            <h4 class="card-title">#product code</h4>
          </div>
        </div>
        <div class="card  plants__card col-12 col-md-4">
          <img class="card-img-top plants__card-img-top" [src]="adeniumPhotoUrl_2" alt="Card image cap">
          <div class="card-block plants__card-title">
            <h4 class="card-title">#product code</h4>
          </div>
        </div>
        <div class="card  plants__card col-12 col-md-4">
          <img class="card-img-top plants__card-img-top" [src]="adeniumPhotoUrl_3" alt="Card image cap">
          <div class="card-block plants__card-title">
            <h4 class="card-title">#product code</h4>
          </div>
        </div>
      </div>
    </div>

    <!--row-->
    <div class="row">
      <div class="card-deck">
        <div class="card plants__card col-12 col-md-4">
          <img class="card-img-top plants__card-img-top" [src]="adeniumPhotoUrl_4" alt="picture">
          <div class="card-block plants__card-title">
            <h4 class="card-title">#product code</h4>
          </div>
        </div>
        <div class="card  plants__card col-12 col-md-4">
          <img class="card-img-top plants__card-img-top" [src]="adeniumPhotoUrl_5" alt="Card image cap">
          <div class="card-block plants__card-title">
            <h4 class="card-title">#product code</h4>
          </div>
        </div>

        <!--<div class="card  plants__card col-12 col-md-4">-->
          <!--temp using this...-->
          <!--<img class="card-img-top plants__card-img-top" src="..." alt="Card image cap">
          <div class="card-block plants__card-title">
            <h4 class="card-title">Card title</h4>
          </div>-->
        <!--</div>-->

      </div>
    </div>



    <!--<img [src]="adeniumPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_5" class="plant__species-resize" alt="picture">-->

  </div>
</div>
