<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active">Plants</li>
    <li class="breadcrumb-item active">Adenium</li>
  </ol>
  <div class="jumbotron">
    <h1>Plants Categories!</h1>
    <p>This is a list of plant categories, click on each to see a list of plants for a given category.</p>
    <p>
      adenium works!
    </p>

    <img [src]="adeniumPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="adeniumPhotoUrl_5" class="plant__species-resize" alt="picture">
  </div>
</div>
