<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Succulent Plants</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Succulent Plants</h1>

    <img [src]="succulent_plantsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="succulent_plantsPhotoUrl_7" class="plant__species-resize" alt="picture">

  </div>
</div>