<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Ground Covers</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Ground Covers</h1>

    <img [src]="ground_coversPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="ground_coversPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="ground_coversPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="ground_coversPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="ground_coversPhotoUrl_5" class="plant__species-resize" alt="picture">

  </div>
</div>