<div class="container about__font-adjustment">

  <p>
  The plant collections listed and grouped in this catalogue were more based on their usages in garden and landscaping. And,
  we are not strictly based on their botanical grouping.
  </p>

  <p>
  Live plants used in garden and landscaping, because of their adaptabilities,
  it is common to see that same plant can have different usages, therefore, certain repetition of plants listed may occur
  under different headings, such as Bougainvillea, it can be used as a shrubs as well as a climber.
  </p>

  <p>
  Dow Flora/Tropic Flora had been the plant introduction, import, export and landscaping activities for more than 50 years, covering countries like
  Malaysia, Indonesia, Philippines, Thailand, China, South America, Middle East and Europe etc. We too had explored many
  remote mountains in Tropic and Sub-tropic zones of different elevations, looking for rare exotic plants. We are building
  a big botanic garden aiming at world collection and for future plant re-production, export and a center for plant sourcing,
  admire and relaxation.
  </p>

  <p>
  Because of work load and the complexity of plant collections from many areas and elevations the
  plants obtained can be new or unknown to us. On principle, we try to precise and right, however, should there be any mistake
  we would appreciate you can inform us.
  <p>

  <p>
  With very best regards, Dow Flora Singapore Pte. Ltd Tropic Flora
  </p>

  <p class="aboutus__chinese-title">
    序言  
  </p>
  
  <p>本目录所收集花卉，树木在考虑分组方面多作重于花木在造园与绿化上的应用，而不以一般纯粹因植物所属类别为本目录分组的根据。</p>

  <p>花木在园艺，造园上的应用，往往因为花木本身的可塑性及适应性，而有同一种植物在造园应用上有多方面不同的用法。故在以应用为观点，在收集分组上存在一定程度的重复性。</p>

  <p>本公司在造园、育苗，引种方面已有六十年的历史，生产地在印尼、新加坡、马来亚、菲律宾、中国及美国。我方在印尼的园区内收集了大量热带，亚热带的植物。我们以能育天底下奇花异草为乐。我们的目标是尽量完成一个汇集及涵盖多類属植物的公园，作为今后培育及观赏中心。</p>
  
  <p>由于工作的压力，摄猎的植物范围及收集的植物包括多年来在深山野林间所得的品种，在分类，分组，命名上有一定的难度。我们原则上尽力希望能做到万无一失，故此目录中若有差错，敬请指示告知。亦希望本目录为本公司和同业在花木生产及销售方面创造较好的系统。</p>
  
  <p class="pull-right">
    此致,<br>
    敬礼<br>
    赤道花卉（星）私人有限公司
  </p>
</div>
