<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Plants</a></li>
    <li class="breadcrumb-item active">Bougainvilleas</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Bougainvilleas</h1>

    <img [src]="bougainvilleasPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_7" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_8" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_9" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_10" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_11" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_12" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_13" class="plant__species-resize" alt="picture">
    <img [src]="bougainvilleasPhotoUrl_14" class="plant__species-resize" alt="picture">

  </div>
</div>