<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/plants">Completed & Future Projects</a></li>
    <li class="breadcrumb-item active">completed projects</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">completed projects</h1>

    <!--Tennery-->
    <h4>Tennery</h4>
    <img [src]="completed_projectsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_6" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_7" class="plant__species-resize" alt="picture">


    <!--Floridian-->
    <h4>Floridian</h4>
    <img [src]="completed_projectsPhotoUrl_8" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_9" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_10" class="plant__species-resize" alt="picture">
    <img [src]="completed_projectsPhotoUrl_11" class="plant__species-resize" alt="picture">

  </div>
</div>
