.completed-future-projects__resize {
  width: 100%;
}

.completed-future-projects-row__adjustment {
  padding: 1rem 0;
}

.completed-future-projects__images-bottom {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
