<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Completed Projects</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Completed Projects</h1>

    <!--Tennery-->
    <h3>Tennery</h3>

    <div class="row completed-future-projects-row__adjustment">
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_4" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_5" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_6" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_7" class="completed-future-projects__resize" alt="picture">
      </div>
    </div>

    <div class="row completed-future-projects-row__adjustment">
      <div class="col-md-4 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_1" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-4 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_2" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-4 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_3" class="completed-future-projects__resize" alt="picture">
      </div>
    </div>

    <!--Floridian-->
    <h3>Floridian</h3>

    <div class="row completed-future-projects-row__adjustment">
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_8" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_9" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_11" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-md-3 completed-future-projects__images-bottom">
        <img [src]="completed_projectsPhotoUrl_10" class="completed-future-projects__resize" alt="picture">
      </div>
    </div>

    <h3>Others past projects</h3>

    <div class="row completed-future-projects-row__adjustment">
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects">
        <img [src]="completed_projectsPhotoUrl_12" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects">
        <img [src]="completed_projectsPhotoUrl_13" class="completed-future-projects__resize" alt="picture">
      </div>
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects">
        <img [src]="completed_projectsPhotoUrl_14" class="completed-future-projects__resize" alt="picture">
      </div>
    </div>

    <div class="row completed-future-projects-row__adjustment">
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects text-center">
          Private residence [in S'pore]
      </div>
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects text-center">
        UOB Twin Towers [in S'pore]
      </div>
      <div class="col-4 completed-future-projects__images-bottom completed-future-projects__past-projects text-center">
        Hyat Regency [in S'pore]
      </div>
    </div>


  </div>

</div>
