<div class="container">

  <div class="row">
    <div class="col-md-7">
      <img [src]="linggaIslandPhotoUrl_History1" class="lingga-island__protrait--resize" alt="picture">
    </div>
    <div class="col-md-5">
      <div class="lingga-island__title">
        Lingga History
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="lingga-island__title">
        Lingga Jetty
      </div>
    </div>
    <div class="col-md-5">
      <img [src]="linggaIslandPhotoUrl_Jetty3" class="lingga-island__landscape-resize" alt="picture">
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <img [src]="linggaIslandPhotoUrl_Mountain1" class="lingga-island__protrait--resize" alt="picture">
    </div>
    <div class="col-md-5">
      <div class="lingga-island__title">
        Lingga Mountain
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="lingga-island__title">
        Lingga Beach
      </div>
    </div>
    <div class="col-md-5">
      <img [src]="linggaIslandPhotoUrl_Beach3" class="lingga-island__landscape-resize" alt="picture">
    </div>
  </div>

</div>
