<div class="container">
  <div class="row lingga-island__row">
    <div class="col-xs-12">
      <!-- <sebm-google-map #map [latitude]="lat" [longitude]="lng" [zoom]="zoomFactor" [scrollwheel]="scrollwheel">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map> -->
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="row lingga-island__row">
    <div class="col-md-7">
      <img [src]="linggaIslandPhotoUrl_History1" class="lingga-island__protrait--resize" alt="picture">
    </div>
    <div class="col-md-5">
      <div class="lingga-island__title">
        Lingga History
      </div>

      <div class="lingga-island__content">

        <p>
          The Ancient Lingga Sultanate was situated within the Riau Islands of Indonesia. And, in Ancient Chinese History, it was called
          the Long Ya Gu Guo (龙牙古国) because the tallest peak of the Lingga Mountain look like the 3-teeth of a dragon.
        </p>

        <p>
          Lingga Island had been a calling point of silk road by the seas. In Ming Dynasty, Admiral Cheng He had called at Lingga and
          had established contact with the Sultans. He had called at Linnga and had established contact with Sultans. A war
          between Lingga and the Northen Sumatra Sultanate had broke out. Lingga Sultan's Palace was burnt down by Banda
          Aceh Navy and destructed subsequently.
        </p>

        <p>The Lingga Sultan and his followers fled to Singapore Island and finally settled down at Johor Lama.</p>

        <p>The Sultan of Johor was told related and originated from Linnga Islands.</p>

      </div>
    </div>
  </div>

  <div class="row lingga-island__row">
    <div class="col-md-7">
      <div class="lingga-island__title">
        Lingga Jetty & Transport
      </div>

      <div class="lingga-island__content">

        <p>
          Ferry services to the islands from outside the archipelago come from the provincial capital to the north, Tanjung Pinang
          on Bintan, including from Singapore. These days the main industry is fishing. There are a number of fine beaches
          with some coral around the Archipelago but there is very little tourism on account of the poor transport links
          with the outside world.
        </p>

        <ul>
          <li>
            Singkep has two ports, Dabo near Dabosingkep and Jago near Sungaibuluh. Service to the port of Muntok on P. Bangka of Sumatera
            Selatan ceased operating regularly with the demise of the tin mining industry. However, a high-speed ferry continues
            to connect Tanjung Pinang to Singkep, from where local boats may be chartered to Lingga.
          </li>

          <li>
            For Lingga, Daik is the major town and port. It can be reached in a day from Singapore transferring at Tanjung Pinang.
          </li>
        </ul>

      </div>

    </div>
    <div class="col-md-5">
      <img [src]="linggaIslandPhotoUrl_Jetty3" class="lingga-island__landscape-resize" alt="picture">
    </div>
  </div>

  <div class="row lingga-island__row">
    <div class="col-md-7">
      <img [src]="linggaIslandPhotoUrl_Mountain1" class="lingga-island__protrait--resize" alt="picture">
    </div>
    <div class="col-md-5">

      <div class="lingga-island__content">

        <div class="lingga-island__title">
          Lingga Mountain
        </div>

        <div>
          <p>
            Mount Lingga, Lingga Island
          </p>

          <p>
            At 1163 meters this is the highest mountain in the Riau Islands.
          </p>

          <p>
            It is an ancient volcanic plug that rises spectacularly from the surrounding area. The summit consists of three separate
            pillars with two hundred meter high vertical walls. Pristine untouched wild rain forest surrounds the mountain.
            Wild, virtually unreachable one to two hundred meter high waterfalls tumble down on several sides of the mountain.
            According to the local people no one has ever succeeded in climbing the summit.
          </p>
        </div>

      </div>

    </div>
  </div>

  <div class="row lingga-island__row">
    <div class="col-md-7">

      <div class="lingga-island__content">

        <div class="lingga-island__title">
          Lingga Beach
        </div>

        <div>

          <p>
            Due to the low number of tourists, Lingga Island's beaches are un-crowded and are great for swimming or snorkeling.
          </p>

          <p>
            Pristine, untouched and remote beaches surround the coast of Lingga Island, and are great for exploring by travelers.
          </p>

          <p>
            www.indonesia-tourism.com
          </p>


        </div>

      </div>


    </div>
    <div class="col-md-5">
      <img [src]="linggaIslandPhotoUrl_Beach3" class="lingga-island__landscape-resize" alt="picture">
    </div>
  </div>

</div>
