.lingga-island__title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.lingga-image-history,
.lingga-image-mountain {
  float: left;
}

.lingga-image-jetty,
.lingga-image-beach {
  float: right;
  width: 50%;
  margin: 0 0 1rem 3rem;
}

.lingga-image-history {
  width: 40%;
  margin-right: 3rem;
  @media ( min-width: 992px ) { width: 36%;}
}

.lingga-island__content-pointer {
  margin-top: 1.5rem;
}

.lingga-image-mountain {
  width: 35%;
  margin: 0 3rem 1.5rem 0;
  @media ( min-width: 992px ) { width: 41%;}
}

// .sebm-google-map-container {
// .map-height {
//   height: 300px;
// }

// agm-map {
//   height: 300px;
// }
