.lingga-island__protrait--resize {
  width:55%;
}

.lingga-island__landscape-resize {
  width: 120%;
}

.lingga-island__title{
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.lingga-island__content{
  font-size: 1.5rem;
}

.lingga-island__row{
  padding: 2rem 0;
}