/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*body { padding-top: 100px; }
@media screen and (max-width: 768px) {
    body { padding-top: 80px; }
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.fixed-side-menu {
  overflow-y: auto; // question - not sure if this is the best way of doing it
  // need to create break points and their respective height
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    height: 18rem; // ...
  } // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    // height: 728px;
    height: 23rem;
  } // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    height: 38rem;
  } // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}
  @media (min-width: 1500px) {
    height: 44rem;
  }
}

.fixed-main-menu {
  overflow-y: auto; // question - not sure if this is the best way of doing it
  // need to create break points and their respective height
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    height: 18rem; // ...
  } // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    // height: 728px;
    height: 23rem;
  } // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    height: 38rem;
  } // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}
  @media (min-width: 1500px) {
    height: 44rem;
  }
}

.plant {
  &__species-resize {
    width: 100%;
  }
  &__card-title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    word-wrap: break-word;
    @media (min-width: 576px) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      // ...
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      // ...
    }
  }
  &__card-adjustment {
    margin-bottom: 1rem;
    @media (min-width: 576px) {
      margin-bottom:3rem;
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      // ...
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      // ...
    }
  }
  &__card-block {
    padding: 0.75rem;
    @media (min-width: 576px) {}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {}
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      // ...
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      // ...
    }
  }
}

.carousel .carousel-inner .carousel-item .item {
  width: 100%;
}
