<div class="navbar__adjustment">
  <div class="navbar__logo" routerLink="home">
    <div><img src="../assets/logo/dowflora.png" width="30" height="40" alt=""></div>
    <div class="navbar__logo-name">Dow Flora</div>
  </div>

  <div class="navbar__links">
    <div routerLink="home">Home</div>
    <div routerLink="about">About Us</div>
    <div routerLink="plants">Plants</div>
    <div routerLink="contact-us">Contact Us</div>
  </div>

  <div class="navbar__bars">
    <i class="fa fa-bars" aria-hidden="true" (click)="toggleBarsContent()"></i>
  </div>

  <!--<div class="navbar__search">
    <form [formGroup]='searchForm'>
      <i *ngIf="!isInputShown" class="fa fa-search navbar__search-icon" aria-hidden="true" (click)="toggleInput()"></i>
      <input class="navbar__search-input navbar__search-input-hide" type="text" [ngClass]="{'navbar__search-input-show': isInputShown}" formControlName="search">
      <i *ngIf="isInputShown" class="fa fa-search navbar__search-submit" aria-hidden="true" (click)="submitSearchForm()"></i>
    </form>
  </div>-->

</div>

<div class="navbar__bars-content" [ngClass]="{'navbar__bars-content-show': toggleMenuBarsContent}">
  <!-- <div class="row navbar__bars-row">
    <div class="col-12 navbar__bars-links" routerLink="home" (click)="toggleBarsContent()">Home</div>
    <div class="col-12 navbar__bars-links" routerLink="about" (click)="toggleBarsContent()">About Us</div>
    <div class="col-12 navbar__bars-links" routerLink="plants" (click)="toggleBarsContent()">Plants</div>
    <div class="col-12 navbar__bars-links" routerLink="contact-us" (click)="toggleBarsContent()">Contact Us</div>
  </div> -->
  <!-- <div class="row navbar__bars-row"> -->
    <div class="navbar__bars-links" routerLink="home" (click)="toggleBarsContent()">Home</div>
    <div class="navbar__bars-links" routerLink="about" (click)="toggleBarsContent()">About Us</div>
    <div class="navbar__bars-links" routerLink="plants" (click)="toggleBarsContent()">Plants</div>
    <div class="navbar__bars-links" routerLink="contact-us" (click)="toggleBarsContent()">Contact Us</div>
  <!-- </div> -->
</div>
