.navbar__adjustment {
  border-bottom: 5px solid #dcdcdc;
  box-shadow: 0 5px 8px -2px #999;
  @media (min-width: 768px) { margin-bottom: 1.25rem; }
  padding: 1rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.navbar__logo,
.navbar__links {
  color: green;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navbar__logo:hover,
.navbar__links div:hover {
  border-bottom-color: #2BDE73;
}

.navbar__logo {
  margin-right: 1.5rem;
  padding: 5px;
  display: inline-block;
  &-name {
    font-size: 20px;
    line-height: 46px;
  }
  & div {
    display: inline-block;
    cursor: pointer;
  }
}

.navbar__links {
  display: none;
  @media (min-width: 576px) { display: inline-block; }
  & div {
    padding: 5px;
    margin: 0 .5rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    display: inline-block;
    cursor: pointer;
  }
}

.navbar__button {
  padding: 0;
  line-height: inherit;
  &:hover {
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.navbar__search {
  position: relative;
  float: right;
  top: 15px;
  margin: 0 10px;
  &-input {
    padding: 0 30px 0 10px;
    border-radius: 10px;
    &-hide {
      width: 0;
      border: none;
    }
    &-show {
      width: 200px;
      transition: width 1s;
      border: 1px solid lightgray;
    }
    &:focus {
      border-color: #5cb85c;
      outline: none;
    }
  }
}

.navbar__search-icon,
.navbar__search-submit {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.navbar__bars {
  position: relative;
  float: right;
  top: 15px;
  margin: 0 10px;
  display: inline-block;
  @media (min-width: 576px) { display: none; }
  cursor: pointer;
}

.navbar__bars-content {
  @media (min-width: 576px) { display: none; }
  margin-top: -130px;
  margin-bottom: 1.5rem;
  // position: relative;
  z-index: -1;
  transition: 1s all;
  &-show {
    margin-top: 20px;
    transition: 1s all;
    // position: inherit;
  }
}

.navbar__bars-row {
  margin: 0;
}

.navbar__bars-links {
  text-align: center;
  color: green;
  border-bottom: 3px solid transparent;
  line-height: 2;
  cursor: pointer;
  &:hover {
    border-bottom-color: #2BDE73;
  }
}
