.navbar--logo {
  font-size: 36px;
}

a:not([href]):not([tabindex]) {
  color: #016097;
}

.nav-item {
  line-height: 50px;
}


/*Added margin-top 1rem to offset the default value form group's margin-bottom*/

.navbar__search-bar {
  margin-top: 1rem;
}

.navbar-brand__adjustment {
  line-height: 50px;
  font-size: 2rem;
  color: green;
}

.navbar__adjustment {
  border-radius: 0;
  border-bottom: 5px solid #dcdcdc;
}

.nav-link__adjustment {
  // font-size: 1.5rem;
  color: green;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  margin-right: 1rem;
}

.nav-link__adjustment:hover {
  border-bottom: 3px solid #2BDE73;
}

@media(min-width:480px) {
  .navbar__contact-us {
    margin-right: 2rem;
    position: fixed;
    right: 0;
  }
}

.navbar__logo{
  width: 20%;
}

.navbar-header__adjustment{
  margin-right: -5rem;
}