<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div>
      <h1>Categories</h1>
    </div>
    <!-- menu -->
    <div id="MainMenu">
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
           Plants   
           <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
       </a>
        <div class="collapse" id="demo3">
          <!--Create child components on the fly -? -->
          <a href="" class="list-group-item side-menu__list-item" routerLink="adenium" >Adenium</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="agave">Agave</a>
          <a href="" class="list-group-item side-menu__list-item">Aglanoemas</a>
        </div>
        <!--list item 4-->
        <a href="#demo4" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Seeds  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item side-menu__list-item">Subitem 1</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 2</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 3</a>
        </div>
        <!--list item 5-->
        <a href="#demo5" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Charcoals  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo5">
          <a href="" class="list-group-item side-menu__list-item">Subitem 1</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 2</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 3</a>
        </div>
        <!--list item 6-->
        <a href="#demo6" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Stones  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo6">
          <a href="" class="list-group-item side-menu__list-item">Subitem 1</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 2</a>
          <a href="" class="list-group-item side-menu__list-item">Subitem 3</a>
        </div>

      </div>
    </div>
  </div>
</div>

 <!--<router-outlet></router-outlet>-->