.side-menu-triangle__adjustment {
  margin-left: 0.5rem;
}

.list-group-item__font-adjustment {
  color: black;
  font-size: 1.75rem;
  padding-left: 0.35rem;
}

.list-group-item__font-adjustment:hover {
  border-left: 0.5rem solid #2BDE73;
}

.side-menu__list-item {
  border: 0;
  color: black;
  font-size: 1.2rem;
  padding-left: 0.75rem;
}

