<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div>
      <h1>Categories</h1>
    </div>
    <!-- menu -->
    <div id="MainMenu">
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
           Plants   
           <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
       </a>
        <div class="collapse side-menu__plants-list" id="demo3">
          <!--Create child components on the fly -? -->
          <a href="" class="list-group-item side-menu__list-item" routerLink="adenium">Adenium</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="agave">Agave</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="aglaonemas">Aglanoemas</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="alocasia">Alocasia</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="ananas">Ananas</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="aquatic-plants">Aquatic Plants</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="bamboos-grasses">Bamboos Grasses</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="bougainvilleas">Bougainvilleas</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="bowenia">Bowenia</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="cactus">Cactus</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="caladium">Caladium</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="calatheas">Calatheas</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="climbers-vines">Climbers Vines</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="cordyline">Cordyline</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="costus">Costus</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="croton">Croton</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="crypthanthus">Crypthanthus</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="cycas">Cycas</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="dracaeana">Dracaeana</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="encephalartos">Encephalartos</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="flowers">Flowers</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="ferns">Ferns</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="ground-covers">Ground Covers</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="hanging-plants">Hanging Plants</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="heliconia">Heliconia</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="herbs">Herbs</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="hibiscus">Hibiscus</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="indoor-plants">Indoor Plants</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="palms">Palms</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="saggo-palms">Saggo Palm</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="pandanus">Pandanus</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="philodendrons">Philodendrons</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="plumerias">Plumerias</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="shrubs">Shrubs</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="strelizia">Strelizia</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="succulent-plants">Succulent Plants</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="trees">Trees</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="tropical-fruits">Tropical Fruits</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="zamia-ceratozamia">Zamia Ceratozamia</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="other-species">Other Species</a>
        </div>
        <!--list item 4-->
        <a href="#demo4" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Seeds  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item side-menu__list-item" routerLink="seeds">Seeds</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="seedlings">Seedlings</a>
        </div>
        <!--list item 5-->
        <a href="#demo5" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Treated Media & Charcoals  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo5">
          <a href="" class="list-group-item side-menu__list-item" routerLink="treated-media">Treated Media</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="charcoals">Charcoals</a>
        </div>
        <!--list item 6-->
        <a href="#demo6" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Stones  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo6">
          <a href="" class="list-group-item side-menu__list-item" routerLink="stone-table">Stone Table</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="pebble">Pebble</a>
        </div>

        <!--list item 7-->
        <a href="#demo7" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Completed & Future Projects  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo7">
          <a href="" class="list-group-item side-menu__list-item" routerLink="completed-projects">Completed Projects</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="future-projects">Future Projects  </a>
        </div>


   


      </div>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
