<div class="row">
  <div class="col-sm-12">
    <div>
      <h1>Categories</h1>
    </div>
    <!-- menu -->
    <div id="MainMenu">
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
           Our Plants Products   
           <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
       </a>
        <div class="collapse side-menu__plants-list" id="demo3">
          <div class="container">

            <div class="row list-group-item side-menu__list-item" routerLink="adenium">
              <div class="col-2">a.</div>
              <div class="col-7">
                Adeniums
              </div>
              <div class="col-3"> (Ad.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="agave">
              <div class="col-2">b.</div>
              <div class="col-7">
                Agaves
              </div>
              <div class="col-3"> (Ag.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="aglaonemas">
              <div class="col-2">c.</div>
              <div class="col-7">
                Aglaonemas
              </div>
              <div class="col-3"> (Agl.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="alocasia">
              <div class="col-2">d.</div>
              <div class="col-7">
                Alocasia
              </div>
              <div class="col-3"> (Al.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="ananas">
              <div class="col-2">e.</div>
              <div class="col-7">
                Ananas
              </div>
              <div class="col-3"> (An.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="aquatic-plants">
              <div class="col-2">f.</div>
              <div class="col-7">
                Aquatic pt
              </div>
              <div class="col-3"> (Aq.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="bamboos-grasses">
              <div class="col-2">g.</div>
              <div class="col-7">
                Bamboos, Gr.
              </div>
              <div class="col-3"> (Ba./Gr.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="bougainvilleas">
              <div class="col-2">h.</div>
              <div class="col-7">
                Bougainvilleas
              </div>
              <div class="col-3"> (Bou.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="bowenia">
              <div class="col-2">i.</div>
              <div class="col-7">
                Bowenia
              </div>
              <div class="col-3"> (Bow.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="cactus">
              <div class="col-2">j.</div>
              <div class="col-7">
                Cactus
              </div>
              <div class="col-3"> (Cac.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="caladium">
              <div class="col-2">k.</div>
              <div class="col-7">
                Caladium
              </div>
              <div class="col-3"> (Cal.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="calatheas">
              <div class="col-2">l.</div>
              <div class="col-7">
                Calatheas
              </div>
              <div class="col-3"> (Cala.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item">
              <div class="col-2">m.</div>
              <div class="col-7" routerLink="climbers-vines">
                Climbers Vines
              </div>
              <div class="col-3"> (Clim.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="cordyline">
              <div class="col-2">n.</div>
              <div class="col-7">
                Cordylines
              </div>
              <div class="col-3"> (Cor.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="costus">
              <div class="col-2">o.</div>
              <div class="col-7">
                Costus
              </div>
              <div class="col-3"> (Cos.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="croton">
              <div class="col-2">p.</div>
              <div class="col-7">
                Croton
              </div>
              <div class="col-3"> (Cro.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="crypthanthus">
              <div class="col-2">q.</div>
              <div class="col-7">
                Crypthanthus
              </div>
              <div class="col-3"> (Cry.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="cycas">
              <div class="col-2">r.</div>
              <div class="col-7">
                Cycas
              </div>
              <div class="col-3"> (Cyc.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="dracaeana">
              <div class="col-2">s.</div>
              <div class="col-7">
                Dracaeana
              </div>
              <div class="col-3"> (Dra.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="encephalartos">
              <div class="col-2">t.</div>
              <div class="col-7">
                Encephalartos
              </div>
              <div class="col-3"> (Enc.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="flowers">
              <div class="col-2">u.</div>
              <div class="col-7">
                Flowers
              </div>
              <div class="col-3"> (Flo.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="ferns">
              <div class="col-2">v.</div>
              <div class="col-7">
                Ferns
              </div>
              <div class="col-3"> (Fer.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="ground-covers">
              <div class="col-2">w.</div>
              <div class="col-7">
                Ground cov
              </div>
              <div class="col-3"> (Gd.Co.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="hanging-plants">
              <div class="col-2">x.</div>
              <div class="col-7">
                Hanging Pt.
              </div>
              <div class="col-3"> (Ha.Pt.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="heliconia">
              <div class="col-2">y.</div>
              <div class="col-7">
                Heliconia
              </div>
              <div class="col-3"> (Hel.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="herbs">
              <div class="col-2">z.</div>
              <div class="col-7">
                Herbs
              </div>
              <div class="col-3"> (Her.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="hibiscus">
              <div class="col-2">aa.</div>
              <div class="col-7">
                Hibiscus
              </div>
              <div class="col-3"> (Hib.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="indoor-plants">
              <div class="col-2">bb.</div>
              <div class="col-7">
                Indoor Pt.
              </div>
              <div class="col-3"> (Ind Pt.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="palms">
              <div class="col-2">cc.</div>
              <div class="col-7">
                Palms
              </div>
              <div class="col-3"> (Pal.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="saggo-palms">
              <div class="col-2">dd.</div>
              <div class="col-7">
                Saggo Product
              </div>
              <div class="col-3"> (Sag.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="pandanus">
              <div class="col-2">ee.</div>
              <div class="col-7">
                Pandanus
              </div>
              <div class="col-3"> (Pan.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="philodendrons">
              <div class="col-2">ff.</div>
              <div class="col-7">
                Philodendrons
              </div>
              <div class="col-3"> (Phi.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="plumerias">
              <div class="col-2">gg.</div>
              <div class="col-7">
                Plumerias
              </div>
              <div class="col-3"> (Plu.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="shrubs">
              <div class="col-2">hh.</div>
              <div class="col-7">
                Shrubs
              </div>
              <div class="col-3"> (Shr.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="strelizia">
              <div class="col-2">ii.</div>
              <div class="col-7">
                Strelizia
              </div>
              <div class="col-3"> (Str.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="succulent-plants">
              <div class="col-2">jj.</div>
              <div class="col-7">
                Succulent Plants
              </div>
              <div class="col-3"> (Suc.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="trees">
              <div class="col-2">kk.</div>
              <div class="col-7">
                Trees
              </div>
              <div class="col-3"> (Tre.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="tropical-fruits">
              <div class="col-2">ll.</div>
              <div class="col-7">
                Tropical Fruits
              </div>
              <div class="col-3"> (Tro.Fr.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="zamia-ceratozamia">
              <div class="col-2">mm.</div>
              <div class="col-7">
                Zamia & Ceratozamia
              </div>
              <div class="col-3"> (Zam.)</div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="other-species">
              <div class="col-2">nn.</div>
              <div class="col-7">
                Others
              </div>
              <div class="col-3"> (Oth.)</div>
            </div>

          </div>
        </div>


        <!--list item 4-->
        <a href="#demo4" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Others products 
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>

        <div class="collapse" id="demo4">
          <div class="container">

            <div class="row list-group-item side-menu__list-item" routerLink="seeds">
              <div class="col-2">1.</div>
              <div class="col-7">
                Seeds
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="seedlings">
              <div class="col-2">2.</div>
              <div class="col-7">
                Seedlings
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="growing-media">
              <div class="col-2">3.</div>
              <div class="col-7">
                Growing Media
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="treated-media">
              <div class="col-2">4.</div>
              <div class="col-7">
                Others Treated Media - Peat, Volcanic Cinders, Cocopeat Rice Husk, Expanded Clays etc.
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="charcoals">
              <div class="col-2">5.</div>
              <div class="col-7">
                Charcoal and Charcoal Dusts
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="stones">
              <div class="col-2">6.</div>
              <div class="col-7">
                Stones Tables, Benches, Pebbles, Rocks, Lanterns etc.
              </div>
            </div>

            <div class="row list-group-item side-menu__list-item" routerLink="flowers-pots">
              <div class="col-2">7.</div>
              <div class="col-7">
                Flowers Pots, Vases etc.
              </div>
            </div>

          </div>
        </div>

        <!--list item 5-->
        <a href="#demo5" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Completed & Future Projects  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>

        <div class="collapse" id="demo5">
          <div class="container">
            <a href="" class="list-group-item side-menu__list-item" routerLink="completed-projects">Completed Projects</a>
          </div>
        </div>

        <!-- list item 4
        <a href="#demo4" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Seeds  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item side-menu__list-item" routerLink="seeds">Seeds</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="seedlings">Seedlings</a>
        </div> -->

        <!--list item 5-->
        <!-- <a href="#demo5" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Treated Media & Charcoals  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo5">
          <a href="" class="list-group-item side-menu__list-item" routerLink="treated-media">Treated Media</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="charcoals">Charcoals</a> -->
        <!-- </div> -->
        <!--list item 6-->
        <!-- <a href="#demo6" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Stones  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo6">
          <a href="" class="list-group-item side-menu__list-item" routerLink="stone-table">Stone Table</a>
          <a href="" class="list-group-item side-menu__list-item" routerLink="pebble">Pebble</a>
        </div> -->

        <!--list item 7-->
        <!-- <a href="#demo7" class="list-group-item__font-adjustment" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-caret-down"></i>
          Completed & Future Projects  
          <span class="glyphicon glyphicon-triangle-bottom side-menu-triangle__adjustment pull-right"></span>
        </a>
        <div class="collapse" id="demo7">
          <a href="" class="list-group-item side-menu__list-item" routerLink="completed-projects">Completed Projects</a> -->
        <!--<a href="" class="list-group-item side-menu__list-item" routerLink="future-projects">Future Projects  </a>-->
        <!-- </div> -->

      </div>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
