.side-menu-triangle__adjustment {
  margin-left: 0.5rem;
}

.list-group-item__font-adjustment {
  color: black;
  font-size: 1.25rem;
  padding-left: 0.35rem;
  &:hover {
    border-left: 0.5rem solid #2BDE73;
    color: #2BDE73;
    text-decoration: none;
  }
  &:focus {
    border-left: 0.5rem solid #2BDE73;
    color: #2BDE73;
    text-decoration: none;
  }
}

.side-menu__list-item {
  border: 0;
  color: black;
  font-size: 1.2rem;
  padding-left: 0.75rem;
  &:hover {
    color: #0f9946;
  }
  &:focus {
    color: #0f9946;
  }
}

.side-menu__alphabetical-list {
  padding-left: 2rem;
}

.side-menu__alphabetical-list-title {
  padding: 0.5rem;
}

.side-menu__alphabetical-list-acronym {
  padding: 0.5rem;
}
