<!-- <div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/stones">Stones</a></li>
    <li class="breadcrumb-item active">Stone-table</li>
  </ol> -->
  <div class="jumbotron">
    <h1 class="plants__title--display">Stone-table</h1>

    <div class="row">
      <ng-container *ngFor="let stone of plantsPhotoResult; let i = index">
        <div *ngIf="stone[4] == 'portrait'" class="col-4 plant__card-adjustment plant__portrait">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top img-responsive plant__species-resize" src="{{stone[2]}}">
              <div class="card-block plant__card-block">
                <h4 class="card-title plant__card-title">{{stone[3]}}</h4>
              </div>`
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <ng-container *ngFor="let stone of plantsPhotoResult; let i = index">
        <div *ngIf="stone[4] == 'landscape'" class="col-4 plant__card-adjustment plant__landscape">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top img-responsive plant__species-resize" src="{{stone[2]}}">
              <div class="card-block plant__card-block">
                <h4 class="card-title plant__card-title">{{stone[3]}}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
<!-- </div> -->
