<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/stones">Stones</a></li>
    <li class="breadcrumb-item active">Stone-table</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Stone-table</h1>

    <img [src]="stone_tablePhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="stone_tablePhotoUrl_2" class="plant__species-resize" alt="picture">
    <img [src]="stone_tablePhotoUrl_3" class="plant__species-resize" alt="picture">
    <img [src]="stone_tablePhotoUrl_4" class="plant__species-resize" alt="picture">
    <img [src]="stone_tablePhotoUrl_5" class="plant__species-resize" alt="picture">
    <img [src]="stone_tablePhotoUrl_6" class="plant__species-resize" alt="picture">

  </div>
</div>
