<div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/treated-media">Treated Media & Charcoals</a></li>
    <li class="breadcrumb-item active">Charcoals</li>
  </ol>
  <div class="jumbotron">
    <h1 class="plants__title--display">Charcoals</h1>

    <img [src]="charcoalsPhotoUrl_1" class="plant__species-resize" alt="picture">
    <img [src]="charcoalsPhotoUrl_2" class="plant__species-resize" alt="picture">

  </div>
</div>
